='<!DOCTYPE html>'
%html
  %head
    %title Share on Facebook
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery-1.7.2.min.js' }
    %script{ :type => 'text/javascript', :src => "/javascripts/jquery.localize.js"}
  %body
    #facebook-content
      = yield

:javascript
  //localization
  $(document).ready(function(){
    language = "#{settings.language}";
    $("[data-localize]").localize("app", { language: language, pathPrefix:"/localization" ,skipLanguage: /^en/ });
  });

