%center
  %h3.alert.alert-success#facebook-confirm= t.picture_posted_on_facebook
  %a{:href =>"", :OnClick => "window.close()"}= t.close_window
  %br
  %dev= t.window_will_be_closed_in_seconds
:javascript
  setTimeout("self.close();",5000);
