%form{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
  .modal.hide#upload-photo-container
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
      %h3{'data-localize' => 'upload_your_photo'}  Upload your photo
    .modal-body
      .choose-picture
        %input#choose-picture{ :type => 'file', :name => 'photo'}
        #editor-canvas
          #banner
          #picture
      .color-picker
        %h4.title{'data-localize' => 'pick_your_message'}Pick your message
        .controls
          %label.one.active
            %input{ :type => 'radio', :name => 'banner', :value => 'arthritis1', :checked => 'checked' }
            First choice
          %label.two
            %input{ :type => 'radio', :name => 'banner', :value => 'arthritis2' }
            Second Choice
          %label.three
            %input{:type => 'radio', :name => 'banner', :value => 'arthritis3' }
            Third Choice
    .modal-footer.generate
      %center
        %button.btn.btn-primary.btn-large#generate-btn{ :type => 'submit', :disabled => "disabled", 'data-localize' => 'generate_your_image' } Generate your image!
%script{ :type => 'text/javascript', :src => '/javascripts/picture-loader.js' }
:javascript
  $(document).ready(function() {
    $("#upload-photo").click(function(){
      $("#upload-photo-container").modal('show');
    });
    
    $("#agree-check").change(function(){
      if(this.checked)
        $("#upload-photo").removeAttr("disabled");
      else
        $("#upload-photo").attr("disabled", "disabled");
    });
  });

