.show
  %div
    %img.user-image{ :src => photo_url }
  %div
    %a.btn.btn-large.btn-primary.petition{ :href => "http://j.mp/GAxy0I" } Sign the petition
  %div
    #fb-root
      %div{:class => 'fb-like',
        :'data-href' => "#{photo_url}",
        :'data-send' => 'false',
        :'data-width' => '450',
        :'data-layout' => 'button_count',
        :'data-show-faces' => 'false' }
    #twitter
      %a{:title => 'Share in twitter', 
        :href => 'https://twitter.com/share', 
        :class => 'twitter-share-button',
        :'data-url' => "#{photo_url}",
        :'data-count' => "none" } Tweet
    #tumblr
      %a{:title => 'Share in Tumblr',
        :href => "http://www.tumblr.com/share/photo?source=#{CGI.escape(photo_url)}&capition=hahaha",                                                                      
        :style => 'display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url("http://platform.tumblr.com/v1/share_2.png") top left no-repeat transparent;' } Share on Tumblr


%form{:method => 'get', :action =>"/share/facebook/#{photo_id}"}
  .modal.hide#share_facebook
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
      %h3 Share on FaceBook
    .modal-body
      %p message for sharing:
      %input{:type => 'textarea',:name => 'message', :value => 'please support Athritis Sociaty'}
    .modal-footer
      %input.btn.btn-primary{ :href => "#", :type => 'submit', :value => 'Share'} 
:javascript

  $(document).ready(function() {
    $("#launch_share_fb").click(function(){
      $("#share_facebook").modal('show');
    });
  });
 
  (function(d, s, id) {                                                                                                                                       
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk')); 
  
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
