.modal.hide#share-image-container
  .modal-header
    %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
    %h3 Share your image
  .modal-body
    %img.user-image{ :src => photo_url }
  .modal-footer#share-box
    %center
      %a.btn.btn-large.btn-primary#launch_share_fb Share on Facebook
      %a.btn.btn-large.btn-primary{ :onclick => "window.open('#{share_to_twitter_url(photo_url)}', 't', 'toolbar=0,resizable=0,status=1,width=450,height=430')" } Share on Twitter
      %a.btn.btn-large.btn-primary{ :onclick => "window.open('#{share_to_tumblr_url(photo_url)}', 't', 'toolbar=0,resizable=0,status=1,width=450,height=430')" } Share on Tumblr
    
%form{:method => 'get', :action =>"/share/facebook/#{photo_id}"}
  .modal.hide#share_facebook
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
      %center
        %h3 Share on FaceBook
    .modal-body
      %p Please add message for sharing the image on Facebook:
      %input#facebook-message{:type => 'textarea',:name => 'message', :size => 35, :value => 'please support Athritis Sociaty'}
    .modal-footer
      %input.btn.btn-primary{ :href => "#", :type => 'submit', :value => 'Continue'} 


:javascript
  $(document).ready(function() {
    //$("#share-image-container").modal({backdrop: false, show: false});
    $("#share-image-container").modal('show');
    

    $("#launch_share_fb").click(function(){
      $("#share_facebook").modal('show');
    });
   
    $('#share-image-container').on('hidden', function () {
      window.location = '/'
    });
  });
 
  (function(d, s, id) {                                                                                                                                       
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk')); 
  
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
