body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 12px
  max-width: 940px
  margin: 0 auto

h1, h2
  color: #D2B48C

#content
  text-align: center
  border: 1px solid #EEEEEE
  border-radius: 6px 6px 6px 6px
  margin-top: 20px
  padding-top: 20px

#left-side-header
  min-height: 650px
  padding: 5px

#right-side-header
  padding-left: 20px

.deep-shadow
  -moz-box-shadow: 10px 10px 5px #888
  -webkit-box-shadow: 10px 10px 5px #888
  box-shadow: 10px 10px 5px #888
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')

.light-shadow
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4)
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4)
  box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.4)
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')


.color-picker
  display: none

.generate
  display: none
  clear: both

.controls
  label
    background-image: url('/images/thumbs.jpg')
    background-repeat: no-repeat
    background-attachment: scroll
    width: 182px
    height: 108px
    display: block
    float: left
    cursor: pointer
    color: transparent
    margin: 40px 10px 0 0
    opacity: 0.3
    &:hover
      opacity: 0.6
    &.active
      opacity: 1
    input[type='radio']
      visibility: hidden
    &.orange
      background-position: -10px -10px
    &.purple
      background-position: -230px -10px
    &.pink
      background-position: -450px -10px
    &.round-pink
      background: url(/images/banners/pink-round.png) no-repeat scroll top left
      width: 200px
      height: 200px
      margin-top: 0

#editor-canvas
  position: relative
  margin: auto
  max-width: 810px

#banner
  position: absolute
  .banner-image
    max-height: 200px

.south
  left: 50%
  bottom: 5px
.southeast
  right: 10px
  bottom: 10px

#picture
  img
    border: 1px solid #DDD
    max-width: 100%

#share-box
  width: 300px
  height: 20px
  margin: 15px auto

.share-btn
  position: relative
  float: right
  padding: 10px 5px


#flickr-ss
  width: 100%
  height: 290px

#map-canvas
  width: 100%
  height: 290px
